.container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 960px;
    margin-top:40px;
    border:2px solid #dddddd;
    padding:30px;  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.info{
    font-size: large;
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 0;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 30px;
    border: none;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: large;
}

input[type=text], select, textarea { 
    border: 1px solid #dddddd; 
    box-sizing: border-box; 
    
}

