body{
    margin:0px;
    background-image:url(../images/rock.png);  
}

#navigation{
    display:flex;
    flex-direction:row;
    background-color:#ffffff;
    border-bottom: 2px solid #dddddd; 
    margin-bottom:40px;
    justify-content: space-between;
}

#name1{
    color:white;
    font-size:25px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    align-self: center;
    padding:25px;
}

header{
    background-color:#4aaaa5;
}

#nav{
    color: #777777;
    text-decoration: none;
}

a{
    color: #777777;
    text-decoration: none;
}

ul{
    display:flex;
    flex-direction:row; 
    list-style: none;
}

li{
    color: #dddddd;
    padding:5px;
}

h1{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: solid #dddddd;
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    background-color: #666666;
    border-top:8px solid #4aaaa5;
    color: lightgray;
    font-size: 12px; 
    
}
#footer{
    display: flex;
    justify-content: baseline;
    padding-top: 25px;
}



